absl-py==2.3.1
accelerate==1.10.1
aiofiles==24.1.0
alembic==1.17.2
annotated-doc==0.0.4
appdirs==1.4.4
asttokens==3.0.0
astunparse==1.6.3
atomicwrites==1.4.0
backoff==2.2.1
bitarray==3.8.0
bitsandbytes==0.47.0
boto3==1.42.88
botocore==1.42.88
certifi==2025.4.26
charset-normalizer==3.4.2
cut-cross-entropy==25.1.1
dataclasses-json==0.6.7
datasets==3.6.0
diffusers==0.35.1
docopt==0.6.2
docstring_parser==0.17.0
emoji==2.14.1
executing==2.2.0
fastapi==0.123.9
filelock==3.18.0
filetype==1.2.0
flatbuffers==25.9.23
fqdn==1.5.1
fsspec==2025.5.0
gast==0.6.0
google-ai-generativelanguage==0.6.18
google-api-core==2.25.1
google-auth==2.40.3
google-pasta==0.2.0
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.74.0
h11==0.16.0
hf_transfer==0.1.9
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.31.4
idna==3.10
isoduration==20.11.0
jiter==0.12.0
joblib==1.5.0
jsonpointer==2.1
kaggle==1.7.4.5
keras==3.12.0
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-google-genai==2.1.10
langchain-text-splitters==0.3.11
langdetect==1.0.9
langsmith==0.4.27
libclang==18.1.1
Mako==1.3.10
marshmallow==3.26.1
mkl-service==2.4.0
ml_dtypes==0.5.4
msgspec==0.19.0
multiprocess==0.70.16
namex==0.1.0
networkx==3.4.2
num2words==0.5.14
numpy==1.26.4
olefile==0.47
openai==2.9.0
opencv-python==4.13.0.90
opt_einsum==3.4.0
optree==0.18.0
orjson==3.11.3
pandas==2.2.3
pdfreader==0.1.15
peft==0.17.1
pgvector==0.4.2
proto-plus==1.26.1
protobuf==6.32.0
psycopg==3.3.3
psycopg2-binary==2.9.11
pyarrow==21.0.0
pyasn1-modules==0.2.8
pycryptodome==3.23.0
pycurl==7.45.2
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyls-spyder==0.4.0
pypdf==6.0.0
PyPDF2==3.0.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-crfsuite==0.9.11
python-iso639==2025.2.18
python-magic==0.4.27
python-multipart==0.0.20
python-oxmsg==0.0.2
pytz==2025.2
pyvi==0.1.1
pywin32==305.1
PyYAML==6.0.2
RapidFuzz==3.14.1
regex==2024.11.6
reportlab==4.4.3
requests==2.32.3
rsa==4.9.1
s3transfer==0.16.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
Send2Trash==1.8.3
sentencepiece==0.2.0
setuptools==75.8.0
shtab==1.7.2
six==1.17.0
sklearn-crfsuite==0.5.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
starlette==0.50.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.21.1
tomli==2.2.1
torch==2.5.1
torchao==0.13.0
torchaudio==2.5.1+cu121
torchcodec==0.7.0
torchvision==0.20.1+cu121
tornado==6.4.2
transformers==4.52.2
triton-windows==3.4.0.post20
trl==0.23.0
typeguard==4.4.4
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tyro==0.9.32
tzdata==2025.2
unsloth @ git+https://github.com/unslothai/unsloth.git@79ae18052c939578f303ba2f7823dae03cb00b5f
unsloth_zoo==2025.9.12
unstructured==0.18.14
unstructured-client==0.42.3
uri-template==1.3.0
urllib3==2.4.0
uvicorn==0.38.0
wcwidth==0.2.13
webcolors==24.11.1
wheel==0.45.1
widgetsnbextension==3.6.6
xformers==0.0.32.post2
xxhash==3.5.0
yacs==0.1.8
zipp==3.21.0
