requests
beautifulsoup4
SQLAlchemy>=2.0.0
psycopg2-binary
yt-dlp
boto3
python-dotenv
langchain
langchain-openai
langsmith
pydantic
pydantic_settings
psycopg
youtube-transcript-api
unidecode
sentence-transformers
pyvi
langchain-text-splitters